<?xml version="1.0" encoding="utf-8"?>
<!--
     Copyright (C) 2011 The Android Open Source Project

     Licensed under the Apache License, Version 2.0 (the "License");
     you may not use this file except in compliance with the License.
     You may obtain a copy of the License at

          http://www.apache.org/licenses/LICENSE-2.0

     Unless required by applicable law or agreed to in writing, software
     distributed under the License is distributed on an "AS IS" BASIS,
     WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
     See the License for the specific language governing permissions and
     limitations under the License.
-->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="se.leap.bitmaskclient"
    android:versionCode="62"
    android:versionName="0.2.2" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <!-- <uses-permission android:name="com.android.vending.BILLING" /> -->

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="17" />

    <permission
        android:name="se.leap.openvpn.REMOTE_API"
        android:description="@string/permission_description"
        android:label="Control OpenVPN"
        android:permissionGroup="android.permission-group.NETWORK"
        android:protectionLevel="dangerous" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:logo="@drawable/icon"
        android:label="@string/app" >
        <activity android:name="se.leap.openvpn.AboutFragment" />
        <activity
            android:name="se.leap.openvpn.VPNPreferences"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="se.leap.openvpn.LogWindow"
            android:label="@string/openvpn_log" />
        <activity android:name="se.leap.openvpn.SendDumpActivity" />
        <activity android:name="se.leap.openvpn.FileSelect" />
        <activity android:name="se.leap.openvpn.MainActivity" >
        </activity>

        <service
            android:name="se.leap.openvpn.OpenVpnService"
            android:permission="android.permission.BIND_VPN_SERVICE" >
            <intent-filter>
                <action android:name="android.net.VpnService" />
            </intent-filter>
        </service>
        <service
            android:name="se.leap.openvpn.api.ExternalOpenVPNService"
            android:permission="se.leap.openvpn.REMOTE_API" >
            <intent-filter>
                <action android:name="se.leap.openvpn.api.IOpenVPNAPIService" />
            </intent-filter>
        </service>
		<service android:name="se.leap.bitmaskclient.ProviderAPI" android:enabled="true"/>
		
        <activity
            android:name="se.leap.openvpn.api.GrantPermissionsActivity"
            android:permission="se.leap.openvpn.REMOTE_API" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <receiver android:name="se.leap.openvpn.OnBootReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity
            android:name="se.leap.openvpn.ConfigConverter"
            android:label="Convert Config File" >
            <intent-filter android:label="@string/import_config" >
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:mimeType="application/x-openvpn-profile" />
            </intent-filter>
            <intent-filter android:label="@string/import_config" >
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:mimeType="application/ovpn" />
            </intent-filter>
            <intent-filter android:label="@string/import_config" >
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:pathPattern=".*\\.ovpn"
                    android:scheme="content" />
            </intent-filter>
        </activity>
        <activity
            android:name="se.leap.openvpn.LaunchVPN"
            android:label="@string/vpn_launch_title" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <provider
            android:name="se.leap.openvpn.FileProvider"
            android:authorities="se.leap.openvpn.FileProvider"
            android:exported="true"
            android:grantUriPermissions="true" />

        <activity
            android:name="se.leap.bitmaskclient.Dashboard"
            android:label="@string/title_activity_dashboard"
            android:uiOptions="splitActionBarWhenNarrow" >

            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="se.leap.bitmaskclient.ConfigurationWizard"
            android:label="@string/title_activity_configuration_wizard"
            android:uiOptions="splitActionBarWhenNarrow" >
        </activity>
        
        <service android:name="se.leap.bitmaskclient.EIP" android:exported="false">
            <intent-filter>
                <action android:name="se.leap.bitmaskclient.UPDATE_EIP_SERVICE"/>
                <action android:name="se.leap.bitmaskclient.START_EIP"/>
                <action android:name="se.leap.bitmaskclient.STOP_EIP"/>
            </intent-filter>
        </service>
    </application>

</manifest>
