<?xml version="1.0" encoding="utf-8"?>
<!--
     Copyright (C) 2011 The Android Open Source Project

     Licensed under the Apache License, Version 2.0 (the "License");
     you may not use this file except in compliance with the License.
     You may obtain a copy of the License at

          http://www.apache.org/licenses/LICENSE-2.0

     Unless required by applicable law or agreed to in writing, software
     distributed under the License is distributed on an "AS IS" BASIS,
     WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
     See the License for the specific language governing permissions and
     limitations under the License.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="se.leap.bitmaskclient">
    <!-- package is overwritten in build.gradle -->

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
		     android:maxSdkVersion="18"/>
    <!-- Used to show all apps in the allowed Apps selection -->
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" />

    <application
        android:name=".base.BitmaskApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:extractNativeLibs="true"
        android:appCategory="productivity"
        android:logo="@mipmap/ic_launcher"
        android:theme="@style/BitmaskTheme">
        <service
            android:name="de.blinkt.openvpn.core.OpenVPNService"
            android:permission="android.permission.BIND_VPN_SERVICE">
            <intent-filter>
                <action android:name="android.net.VpnService" />
            </intent-filter>
        </service>
        <service
            android:name=".eip.VoidVpnService"
            android:permission="android.permission.BIND_VPN_SERVICE">
            <intent-filter>
                <action android:name="android.net.VpnService" />
            </intent-filter>
        </service>
        <service
            android:name=".providersetup.ProviderAPI"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE">
        </service>

        <receiver
            android:name=".base.OnBootReceiver"
            android:enabled="true"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED" >
          <intent-filter android:priority="999">
            <action android:name="android.intent.action.BOOT_COMPLETED" />
          </intent-filter>
        </receiver>

        <activity
            android:name=".eip.VoidVpnLauncher"
            android:theme="@style/invisibleTheme" />
        <activity
            android:name="de.blinkt.openvpn.LaunchVPN"
            android:theme="@style/invisibleTheme" />
        <activity
            android:name=".base.StartActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:theme="@style/SplashTheme"
            >

            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE_PREFERENCES" />
            </intent-filter>
        </activity>

        <activity
            android:name=".base.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop" />

        <activity
            android:name=".providersetup.ProviderListActivity"
            android:label="@string/configuration_wizard_title" />

        <activity
            android:name=".providersetup.activities.CustomProviderSetupActivity"
            android:label="@string/setup_provider" />

        <activity
            android:name=".providersetup.AddProviderActivity"
            android:label="@string/add_provider" />

        <activity
            android:name=".providersetup.ProviderDetailActivity"
            android:label="@string/provider_details_title"
            android:launchMode="singleTop" />

        <activity android:name=".providersetup.activities.LoginActivity" />
        <activity android:name=".providersetup.activities.SignupActivity" />

        <service
            android:name=".eip.EIP"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE">
        </service>

        <service
            android:name=".base.BitmaskTileService"
            android:icon="@drawable/vpn_disconnected"
            android:label="@string/qs_title"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE"
            android:value="true">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>

            <meta-data
                android:name="android.service.quicksettings.ACTIVE_TILE"
                android:value="false" />
        </service>

    </application>

</manifest>
