<?xml version="1.0" encoding="utf-8"?><!--
     Copyright (C) 2011 The Android Open Source Project

     Licensed under the Apache License, Version 2.0 (the "License");
     you may not use this file except in compliance with the License.
     You may obtain a copy of the License at

          http://www.apache.org/licenses/LICENSE-2.0

     Unless required by applicable law or agreed to in writing, software
     distributed under the License is distributed on an "AS IS" BASIS,
     WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
     See the License for the specific language governing permissions and
     limitations under the License.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="se.leap.bitmaskclient"
    android:versionCode="131"
    android:versionName="0.9.7">

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="26" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".BitmaskApp"
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:logo="@drawable/icon"
        android:theme="@style/AppTheme">
        <service
            android:name=".eip.VoidVpnService"
            android:permission="android.permission.BIND_VPN_SERVICE">
            <intent-filter>
                <action android:name="android.net.VpnService" />
            </intent-filter>
        </service>
        <service
            android:name="de.blinkt.openvpn.core.OpenVPNService"
            android:permission="android.permission.BIND_VPN_SERVICE">
            <intent-filter>
                <action android:name="android.net.VpnService" />
            </intent-filter>
        </service>
        <service
            android:name=".ProviderAPI"
            android:enabled="true" />

        <receiver
            android:name=".OnBootReceiver"
            android:enabled="true"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED">
            <intent-filter android:priority="999">
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".eip.VoidVpnLauncher"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity android:name="de.blinkt.openvpn.activities.DisconnectVPN" />
        <activity
            android:name="de.blinkt.openvpn.LaunchVPN"
            android:label="@string/vpn_launch_title"></activity>
        <activity
            android:name="de.blinkt.openvpn.activities.LogWindow"
            android:allowTaskReparenting="true"
            android:label="@string/bitmask_log"
            android:launchMode="singleTask" />
        <activity
            android:name=".Dashboard"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:uiOptions="splitActionBarWhenNarrow"></activity>
        <activity
            android:name=".StartActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:noHistory="true"
            android:theme="@style/SplashTheme">
            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ConfigurationWizard"
            android:label="@string/configuration_wizard_title"
            android:uiOptions="splitActionBarWhenNarrow"></activity>
        <activity
            android:name=".AboutActivity"
            android:label="@string/title_about_activity"></activity>

        <service
            android:name=".eip.EIP"
            android:exported="false">
            <intent-filter>
                <action android:name="se.leap.bitmaskclient.eip.UPDATE_EIP_SERVICE" />
                <action android:name="se.leap.bitmaskclient.eip.START_EIP" />
                <action android:name="se.leap.bitmaskclient.eip.STOP_EIP" />
            </intent-filter>
        </service>

        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"></activity>
    </application>

</manifest>